{% extends 'layout.html' %}

{% block slides_class %}class="active"{% endblock %}

{% block breadcrumbs %}
<ul id="breadcrumbs">
    <li>Python Taiwan Events</li>
</ul>
{% endblock %}

{% block content %}
    {% for post in posts %}
        {% if post.type == "slide" %}
<div>
    <h1><a href={{ get_url(post.url) }}>{{ post.title }}</a></h4>
    {{ post.content }}
    <h6>{{ post.date }}{% if post.tags %} <span>&raquo;</span> {% for tag in post.tags %}<a href="{{ get_url(tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</h6>
</div>
        {% endif %}
    {% endfor %}
{% endblock %}
