<!DOCTYPE html>

<html>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
    <div id="container">
        <div id="sidebar">
            <div id="header">
                <h1><a href="{{ get_url() }}">{{ site.title }}</a></h1>
                {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
            </div>

            <div class="module module-nav">
                <ul class="unstyled">
                    <li><a href="{{ get_url() }}">Blog</a></li>
                    <li><a href="{{ get_url('archives/') }}">Archives</a></li>
                    <li><a href="{{ get_url('feed.xml') }}">Feed</a></li>
                    <li><a href="{{ get_url('projects/') }}">Open source projects</a></li>
                    <li><a href="{{ get_url('events/') }}">Python Events</a></li>
                    <li><a href="{{ get_url('jobs/')}}">Job Opportunities</a></li>
                </ul>
            </div>

            <div class="module">
                <p>
                    各地的Python 社團
                    <li><a href="">Taipei.py</a></li>
                    <li><a href="">PyHug</a></li>
                    <li><a href="">Tainan.py</a></li>
                </p>
                <p>
                    Python資源
                    <li><a href="">IRC</a></li>
                    <li><a href="">Google Group</a></li>
                </p>
                <h1>距離PyCon 2014 還有300天</h1>
                <p>This is also a good place to list any other sites you are on like <a href="https://github.com/">GitHub</a> and <a href="https://twitter.com/">Twitter</a>.</p>
                <p><code>/_templates/layout.html#L26-30</code></p>
            </div>

            <div id="footer">
                <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
            </div>
        </div>

        {% block breadcrumbs %}{% endblock %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <a href="https://github.com/lucemia/taiwan.py"><img style="background-color:transparent;position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <iframe style="right:0px;position:absolute" width="225" height="570" src="http://meetu.ps/1YJB0n" frameborder="0"></iframe>
    <<!-- form action="http://www.newsleopard.com/mailverify.htm?x=8a2acf2c40b8e4430140c767beb04f50"
        style="border:1px solid #ccc;padding:3px;text-align:center;width:300px"
        target="popupwindow" method="post"
        onsubmit="window.open('', 'popupwindow', 'scrollbars=yes,width=350,height=115');return true">
    <p>請輸入您的Email:</p><p><input style="width:140px" name="email" type="text"/></p>
        <input value="訂閱" type="submit"/>
</form> -->
</body>
</html>
